#tooltip
  Click for help.

#header
  %img{:src=>'/images/frank-med.png'}
  %h1 Frank
  %h2 Relax, fella. Frank's got it under control.
  
%ol#help
  %li
    %p= "Edit <em>settings.yml</em> to set the hostname/port to your liking. Also make sure to set your preferred languages as well. You can also set up multiple layouts for your views."
  %li
    %p= "Stash your static files (images, flash movies, &c.) in the <em>[project]/public</em> folder."
  %li
    %p= "The files in your <em>css</em> & <em>js</em> folders will be auto- matically parsed from the source files. For example if you visit <em>/js/example.js</em>, Frank will parse & return <em>[project]/js/example.coffee</em>"