!!! Strict
%html
  %head
    %title Frank's on the scene.
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/frank.css'}
    %script{:type=>'text/javascript', :src=>'/js/frank.js'}
  %body
    #wrapper
      = yield